<a class="list-group-item list-group-item-action" href="createCurso">Crear curso</a>
<hr/>
<a class="list-group-item list-group-item-action" href="readCurso">Mostrar cursos</a>
<hr/>
<a class="list-group-item list-group-item-action" href="updateCurso/id/titulo/descripcion/precio">Actualizar cursos</a>
<hr/>
<a class="list-group-item list-group-item-action" href="deleteCurso/id">Eliminar cursos</a>
<hr/>