<a class="list-group-item list-group-item-action" href="createCurso">Crear curso</a>
<hr/>
<a class="list-group-item list-group-item-action" href="readCurso">Mostrar cursos</a>
<hr/>
<a class="list-group-item list-group-item-action" href="updateCurso/id/titulo/descripcion/precio">Actualizar cursos</a>
<hr/>
<a class="list-group-item list-group-item-action" href="deleteCurso/id">Eliminar cursos</a>
<hr/>
<a class="list-group-item list-group-item-action" href="ConsultaSql">Consulta sql</a>
<hr/>
<a class="list-group-item list-group-item-action" href="consultadql">Consulta Dql</a>
<hr/>
<a class="list-group-item list-group-item-action" href="queryBuilder">Query Builder</a>
<hr/>
<a class="list-group-item list-group-item-action" href="formulario">Formulario</a>
<hr/>
<a class="list-group-item list-group-item-action" href="validaremail/admin@admin.com">Validar email</a>
<hr/>